*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.burger{
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}

.burger span{
  display: block;
  background-color: blue;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.burger span:last-child{
  margin-bottom: 0;
}

.list_media{
  display: none;
  position: fixed;
  background-color: blue;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.list_media._active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_media .link-media{
  color: #fff;
  font-size: 22px;
}

.list_media .link-media::after{
  display: none;
}

.close-btn{
  border: none;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 162%;
  font-weight: 700;
  color: rgba(54,54,54,1);
  position: absolute;
  top: 30px;
  right: 30px;
}

.link{
  color:#fff;
  text-decoration: none;
  font-size: 30px;
  line-height: 35px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.close-btn{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

 @media(max-width: 850px) {
    .burger{
      display: block;
    }
  }

  @media(max-width: 767px) {
    .burger{
      right: 80px;
      top: 65px;
    }
  }

  @media(max-width: 600px) {
    .burger{
      top: 50px;
    }
  }

  @media(max-width: 560px) {
    .burger{
      right: 50px;
    }
  }

  @media(max-width: 500px) {
    .burger{
      right: 30px;
    }
  }